<a href="https://colab.research.google.com/github/sensei-jirving/Online-DS-PT-01.24.22-cohort-notes/blob/main/BonusLectures/InteractiveVisualizations/PreClass_Interactive_Visualizations_with_Plotly_Express.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interactive Visualizations - with Plotly Express
- 02/25/22 - Bonus Office Hours
- 01.24.22 Cohort

>- A brief introduction to creating interactive visualizations using Plotly.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


## Plotly Imports
import plotly.express as px 
import plotly.graph_objects as go
import plotly.io as pio

## Data
- King County House Prices:
    - Originally downloaded from Kaggle:
        - https://www.kaggle.com/harlfoxem/housesalesprediction 
    - [Google Drive Share Url](https://drive.google.com/file/d/1kam1UuRmCA8a9i5_ZXaP9GBc7J-B79Mm/view?usp=sharing)
        - Directly Loadable Publish Url: 
        ```python
        filename = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSEZuzn_iFfNfMDBO4pRkwUMj62a_ptghfTGpdMZCFbZQjCmXuE3wtu9X2RU91eKgzuHLYimclPfo53/pub?output=csv'
        df = pd.read_csv(filename)
        ```

In [2]:
## Load the data, set the index col to be the id column 
filename = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSEZuzn_iFfNfMDBO4pRkwUMj62a_ptghfTGpdMZCFbZQjCmXuE3wtu9X2RU91eKgzuHLYimclPfo53/pub?output=csv'
df = pd.read_csv(filename,index_col=0,
                 parse_dates=['date'])
df

                 date     price  bedrooms  ...     long  sqft_living15  sqft_lot15
id                                         ...
7129300520 2014-10-13  221900.0         3  ... -122.257           1340        5650
6414100192 2014-12-09  538000.0         3  ... -122.319           1690        7639
5631500400 2015-02-25  180000.0         2  ... -122.233           2720        8062
2487200875 2014-12-09  604000.0         4  ... -122.393           1360        5000
1954400510 2015-02-18  510000.0         3  ... -122.045           1800        7503
...               ...       ...       ...  ...      ...            ...         ...
263000018  2014-05-21  360000.0         3  ... -122.346           1530        1509
6600060120 2015-02-23  400000.0         4  ... -122.362           1830        7200
1523300141 2014-06-23  402101.0         2  ... -122.299           1020        2007
291310100  2015-01-16  400000.0         3  ... -122.069           1410        1287
1523300157 2014-10-15  325000.0         2  ... -122.299           1020        1357

[21613 rows x 20 columns]

In [3]:
## Quick inspection of dataframe
report = pd.DataFrame({'column': df.columns,
                       'dtype': df.dtypes, 
                       'nunique': df.nunique(),
                       '# nulls': df.isna().sum(),
                        "% nulls": df.isna().sum()/len(df)}).reset_index(drop=True)
report

           column           dtype  nunique  # nulls  % nulls
0            date  datetime64[ns]      372        0      0.0
1           price         float64     3625        0      0.0
2        bedrooms           int64       13        0      0.0
3       bathrooms         float64       30        0      0.0
4     sqft_living           int64     1038        0      0.0
5        sqft_lot           int64     9782        0      0.0
6          floors         float64        6        0      0.0
7      waterfront           int64        2        0      0.0
8            view           int64        5        0      0.0
9       condition           int64        5        0      0.0
10          grade           int64       12        0      0.0
11     sqft_above           int64      946        0      0.0
12  sqft_basement           int64      306        0      0.0
13       yr_built           int64      116        0      0.0
14   yr_renovated           int64       70        0      0.0
15        zipcode           int64       70        0      0.0
16            lat         float64     5034        0      0.0
17           long         float64      752        0      0.0
18  sqft_living15           int64      777        0      0.0
19     sqft_lot15           int64     8689        0      0.0

In [4]:
df.describe().round(2)

            price  bedrooms  bathrooms  ...      long  sqft_living15  sqft_lot15
count    21613.00  21613.00   21613.00  ...  21613.00       21613.00    21613.00
mean    540182.16      3.37       2.11  ...   -122.21        1986.55    12768.46
std     367362.23      0.93       0.77  ...      0.14         685.39    27304.18
min      75000.00      0.00       0.00  ...   -122.52         399.00      651.00
25%     321950.00      3.00       1.75  ...   -122.33        1490.00     5100.00
50%     450000.00      3.00       2.25  ...   -122.23        1840.00     7620.00
75%     645000.00      4.00       2.50  ...   -122.12        2360.00    10083.00
max    7700000.00     33.00       8.00  ...   -121.32        6210.00   871200.00

[8 rows x 19 columns]

### Some quick feature engineering

In [ ]:
## Making category was_renovated out of yr_renovated
df['was_renovated'] = df['yr_renovated'] > 0
df['was_renovated'].value_counts()

In [ ]:
## Making has_basement from of sqft_basement
df['has_basement'] = df['sqft_basement'] > 0
df['has_basement'].value_counts()

# ðŸ•¹ Plotly Express

- Plotly Express: https://plotly.com/python/plotly-express/ 
    - Plotly express is a submodule of a larger package called plotly.
    - Normal plotly is a bit tedious to code (manually constructing every line with loops, complex dictionary organization,etc. 
    - Plotly Express is designed to be the new easy-entry/start for Plotly visuals



>- Plotly Express is to Plotly like Seaborn is to Matplotib
    - Doing more for us with less code.|
- Like working with Seaborn, we would make the figure with plotly express and use the underlying plotly structure to customize viualizations.

## Plotly Things to Demonstrate

- Scatter Plots
    - plain
    - color-coded
    - with a trendline
    - Using themes
- Scatter Matrices (For EDA ONLY!)
- Histograms & Bar Plots
- Maps (scatter)

## Scatter Plots

In [ ]:
## simple scatterplot

#### Hover_data

In [ ]:
## simple scatterplot + hoverdata

### Customizing Plotly Express Figures

- Like seaborn, we will want to save the output of our plotly express function and then use its methods to update it.

In [5]:
## remake scatterplot and save as fig
fig = None
fig

### Whats in a Plotly Fig?

- the data and aesthetics are stored in attributes/dictionaries inside of the figure
- For details: https://plotly.com/python/figure-structure/


- To change the figure, there are a few key methods we will use to modify our visual:
    - fig.update_traces
    - fig.upate_layout
    - fig.show

In [ ]:
## Print fig to see info
fig.show()
print(fig)

In [ ]:
## to make smaller markers/different colors - use fig.update_traces 
# make markers smaller with a white border

In [6]:
## functionize customization for efficiency
def update_figure():
    pass

### Color-Coded Scatterplot by waterfront

In [ ]:
## scatterplot with color=waterfront

### Color-Coded Scatterplot by waterfront - with a tredline

In [ ]:
## scatterplot with trendline

In [ ]:
## convert waterfront to string for viz

#### Themes
- https://plotly.com/python/templates/

In [ ]:
import plotly.io as pio
pio.templates

In [7]:
## remake figure with different theme/template

### Scatter Matrix

In [ ]:
## Determining which cols to excude from the scatter matrix
exclude_cols = ['date','zipcode','lat','long','yr_built','yr_renovated','view',
                'condition','has_basement','was_renovated','sqft_lot15','sqft_living15']
plot_cols = df.drop(columns=exclude_cols).columns
plot_cols

In [ ]:
## Scatter matrix (EDA ONLY)

## Histograms & Barplots

### Histogram + boxplot!

In [ ]:
### histogram + boxplot

### Bar plots

>- Different than a seaborn barplot/
- Plots each house as a horizonal line.
- Does not play nicely with large datasets!

In [ ]:
## barplot of has_basement vs price
# take a sample of only 1000 homes
sample = None

## Mapping

In [ ]:
# reminding ourselves of our dataframe
df.head(2)

#### `px.scatter_mapbox`

In [ ]:
# lat vs long, color by price

> ***Why aren't we seeing anything???***

- To the Documentation!
    - [px.scatter_mapbox docs](https://plotly.github.io/plotly.py-docs/generated/plotly.express.scatter_mapbox.html#plotly-express-scatter-mapbox)
- read the "mapbox_style" parameter

- adding hover_data

In [ ]:
## saving all columns but lat./long as hover_cols
hover_cols = df.drop(columns=['lat','long']).columns
hover_cols

In [ ]:
## PLot scatter mapbox with hover_data
fig = px.scatter_mapbox(df,lat='lat',lon='long',color='price',
                        mapbox_style='open-street-map',
                        hover_data=hover_cols) ## adding hover data
update_figure(fig,marker_style=dict(size=5));

- Turn off scroll-over zoom using config 
https://plotly.com/python/configuration-options/ 
```python
config = dict({'scrollZoom':False})
fig.show(config=config)
```

# Appendix

## 3d Scatterplot

- Not an ideal choice when the data has different units!

In [13]:
# 3d scatter plot
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

plot_cols = ['sqft_living','sqft_lot','bedrooms']
plot_df = df[['price'] + plot_cols ].copy()
plot_df

               price  sqft_living  sqft_lot  bedrooms
id
7129300520  221900.0         1180      5650         3
6414100192  538000.0         2570      7242         3
5631500400  180000.0          770     10000         2
2487200875  604000.0         1960      5000         4
1954400510  510000.0         1680      8080         3
...              ...          ...       ...       ...
263000018   360000.0         1530      1131         3
6600060120  400000.0         2310      5813         4
1523300141  402101.0         1020      1350         2
291310100   400000.0         1600      2388         3
1523300157  325000.0         1020      1076         2

[21613 rows x 4 columns]

In [14]:
## scale data
plot_df[plot_cols] = scaler.fit_transform( plot_df[plot_cols])
plot_df.describe().round(2)

            price  sqft_living  sqft_lot  bedrooms
count    21613.00     21613.00  21613.00  21613.00
mean    540182.16         0.00      0.00     -0.00
std     367362.23         1.00      1.00      1.00
min      75000.00        -1.95     -0.35     -3.62
25%     321950.00        -0.71     -0.24     -0.40
50%     450000.00        -0.18     -0.18     -0.40
75%     645000.00         0.51     -0.11      0.68
max    7700000.00        12.48     39.50     31.86

In [16]:
## use scatter_3d