<a href="https://colab.research.google.com/github/sensei-jirving/Online-DS-PT-01.24.22-cohort-notes/blob/main/reference/Using_cdds_package_for_practice_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using James' `cdds` Pythhon Package for practice datasets

In [1]:
!pip install -U cdds
from cdds.imports import *

cdds v0.1.2 loaded.

In [3]:
help(ds.datasets)

Help on module cdds.datasets in cdds:

NAME
    cdds.datasets - A collection of convenient csv urls and sklearn datasets as dataframes.

FUNCTIONS
    convert_google_share_url(url)
        Get a pandas read_csv compatble URL from a share url
        Code adapted from:
        - https://discuss.streamlit.io/t/google-drive-csv-file-link-to-pandas-dataframe/8057

    load_AB_homepage_actions(verbose=False, read_csv_kwds={})

    load_AB_multiple_choice(verbose=False, read_csv_kwds={})

    load_ames_test(verbose=False, read_csv_kwds={})

    load_ames_train(verbose=False, subset=False, read_csv_kwds={})
        Loads height vs weight dataset

    load_autompg(verbose=True, read_csv_kwds={})

    load_boston(verbose=False)

    load_data(*args, **kwargs)

    load_heart_disease(verbose=False, read_csv_kwds={})

    load_height_by_country(verbose=False, read_csv_kwds={})

    load_height_weight(verbose=False, read_csv_kwds={})
        Loads height vs weight dataset

    load_hotel_bookings(read_csv_kwds={'encoding': 'latin-1'})

    load_iowa_prisoners(verbose=False, vers='raw', read_csv_kwds={})

    load_iris(verbose=False)

    load_king_county_housing(verbose=False, project_vers=True, read_csv_kwds={})

    load_nlp_finding_trump(read_csv_kwds={})

    load_nlp_trump_tweets(read_csv_kwds={})

    load_pokemon(read_csv_kwds={'index_col': 0})

    load_population(verbose=False, read_csv_kwds={})

    load_spam(verbose=False, read_csv_kwds={'sep': '\t', 'names': ['label', 'text']})

    load_stock_df(**kwargs)

    load_superhero_info(verbose=False, read_csv_kwds={})
        ####### PREVIOUS DATASETS FROM FSDS #####

    load_superhero_powers(verbose=False, read_csv_kwds={})

    load_tennis(read_csv_kwds={})

    load_titanic(verbose=False, kaggle=False, read_csv_kwds={})

    load_ts_american_sex_frequency(read_csv_kwds={})

    load_ts_baltimore_crime_counts(read_csv_kwds={})
        ### TIME SERIES

    load_ts_baltimore_crime_full(read_csv_kwds={})

    load_ts_exch_rates(verbose=False, read_csv_kwds={})

    load_ts_google_trends(read_csv_kwds={})

    load_ts_mintemp(verbose=False, read_csv_kwds={})
        Loads min_temp.csv from

    load_ts_nyse_monthly(verbose=False, read_csv_kwds={})
        Loads NYSE_.csv from

    load_ts_std_cases(read_csv_kwds={})

    load_ts_winning_400m(read_csv_kwds={})

    load_videogame_sales(read_csv_kwds={})

    load_yields(verbose=False, version='full', read_csv_kwds={'sep': '\\s+', 'index_col': 0})
        Loads dataset from Polynomial Regression readme

    read_csv_from_url(url, verbose=False, read_csv_kwds={})
        Loading function to load all .csv datasets.
        Args:
            url (str): csv raw link
            verbose (bool): Controls display of loading message and .head()
            read_csv_kwds (dict): dict of commands to feed to pd.read_csv()
        Returns:
            df (DataFrame): the dataset(

FILE
    /usr/local/lib/python3.7/dist-packages/cdds/datasets.py

In [5]:
df = ds.datasets.load_superhero_info()
df

     Unnamed: 0             name  Gender  ... Skin color Alignment Weight
0             0           A-Bomb    Male  ...          -      good  441.0
1             1       Abe Sapien    Male  ...       blue      good   65.0
2             2         Abin Sur    Male  ...        red      good   90.0
3             3      Abomination    Male  ...          -       bad  441.0
4             4          Abraxas    Male  ...          -       bad  -99.0
..          ...              ...     ...  ...        ...       ...    ...
729         729  Yellowjacket II  Female  ...          -      good   52.0
730         730             Ymir    Male  ...      white      good  -99.0
731         731             Yoda    Male  ...      green      good   17.0
732         732          Zatanna  Female  ...          -      good   57.0
733         733             Zoom    Male  ...          -       bad   81.0

[734 rows x 11 columns]

## Seaborn Datasets 
- https://seaborn.pydata.org/generated/seaborn.load_dataset.html

In [6]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [7]:
sns.load_dataset('anagrams')

    subidr    attnr  num1  num2  num3
0        1  divided     2   4.0     7
1        2  divided     3   4.0     5
2        3  divided     3   5.0     6
3        4  divided     5   7.0     5
4        5  divided     4   5.0     8
5        6  divided     5   5.0     6
6        7  divided     5   4.5     6
7        8  divided     5   7.0     8
8        9  divided     2   3.0     7
9       10  divided     6   5.0     6
10      11  focused     6   5.0     6
11      12  focused     8   9.0     8
12      13  focused     6   5.0     9
13      14  focused     8   8.0     7
14      15  focused     8   8.0     7
15      16  focused     6   8.0     7
16      17  focused     7   7.0     6
17      18  focused     7   8.0     6
18      19  focused     5   6.0     6
19      20  focused     6   6.0     5